<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Medications
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left>
        <ion-icon name="add"></ion-icon>
        Add
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <ion-list id="medications-list4">
    <ion-item color="none" id="medications-list-item20">
      Amoxicillin
    </ion-item>
    <ion-item color="none" id="medications-list-item21">
      Ticarcillin
    </ion-item>
    <ion-item color="none" id="medications-list-item22">
      Cephalexin
    </ion-item>
  </ion-list>
  <ion-list id="medications-list5">
    <ion-item color="none" id="medications-list-item23">
      Cefuroxime
    </ion-item>
    <ion-item color="none" id="medications-list-item24">
      Trimethoprim
    </ion-item>
    <ion-item color="none" id="medications-list-item25">
      Tetracycline
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:110px;" id="medications-spacer5"></div>
  <button id="medications-button19" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToReminders()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>