<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Reminders
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left solid>
        <ion-icon name="add"></ion-icon>
        Add
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <button id="reminders-button9" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToMedications()">
    Medications
  </button>
  <button id="reminders-button10" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToDoctorsAppointments()">
    Doctors Appointments
  </button>
  <div class="spacer" style="height:315px;" id="reminders-spacer6"></div>
  <button id="reminders-button20" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToMainMenu()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>