<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Camera Tab" tabIcon="camera" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Cart Tab" tabIcon="cart" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cloud Tab" tabIcon="cloud" id="tabsController-tab3"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Tab 4" tabIcon="camera" id="tabsController-tab4"></ion-tab>
</ion-tabs>