<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Healthy Menus
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">
  <button id="healthyMenus-button12" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToBreakfast()">
    Breakfast
  </button>
  <button id="healthyMenus-button13" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToLunch()">
    Lunch
  </button>
  <button id="healthyMenus-button14" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToDinner()">
    Dinner
  </button>
  <div class="spacer" style="height:260;" id="healthyMenus-spacer3"></div>
  <button id="healthyMenus-button17" ion-button color="dark" block icon-left style="font-size:12px;text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToMainMenu()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>