<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Breakfast
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">
  <ion-list id="breakfast-list8">
    <ion-item color="none" on-click="goToBanofeeStuffedPanCake()" id="breakfast-list-item34">
      <ion-avatar item-left>
        <img src="assets/img/iN2MH0OyQkeognnsalmT_49fb4e5c0f3b9c7e849e13f7d2c667bf.jpg" />
      </ion-avatar>
      <h2>
        Banofee stuffed pan cake
      </h2>
    </ion-item>
    <ion-item color="none" on-click="goToFruityOatCake()" id="breakfast-list-item35">
      <ion-avatar item-left>
        <img src="assets/img/QEaYyTpxSE2dl41pnKqW_images3.jpg" />
      </ion-avatar>
      <h2>
        Fruity Oat Cake
      </h2>
    </ion-item>
    <ion-item color="none" id="breakfast-list-item36">
      <ion-avatar item-left>
        <img src="assets/img/TBJtOM8fQSiPuVbYiynx_images1.jpg" />
      </ion-avatar>
      <h2>
        Bacon Cheese Pan Cake
      </h2>
    </ion-item>
    <ion-item color="none" id="breakfast-list-item37">
      <ion-avatar item-left>
        <img src="assets/img/TaEd6LDTTFmOTKrDcLaJ_images2.jpg" />
      </ion-avatar>
      <h2>
        Sunday French Toast
      </h2>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:145px;" id="breakfast-spacer7"></div>
  <button id="breakfast-button23" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToHealthyMenus()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>