<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Black Bean Burrito
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page16">
  <img src="assets/img/MvNKSoNXQKuSqS1vllus_chipotle-black-bean-burritos.jpg" style="display:block;width:75%;height:auto;margin-left:auto;margin-right:auto;" />
  <h5 id="blackBeanBurrito-heading10" style="color:#000000;font-weight:600;font-style:italic;">
    Ingredients
  </h5>
  <ion-list id="blackBeanBurrito-list16">
    <ion-item color="none" id="blackBeanBurrito-list-item52">
      2 tablespoons olive oil
    </ion-item>
    <ion-item color="none" id="blackBeanBurrito-list-item53">
      1 jalapeno chile, seeded and chopped
    </ion-item>
    <ion-item color="none" id="blackBeanBurrito-list-item54">
      2 garlic cloves, chopped
    </ion-item>
  </ion-list>
  <ion-list id="blackBeanBurrito-list17">
    <ion-item color="none" id="blackBeanBurrito-list-item55">
      1 medium onion, chopped
    </ion-item>
    <ion-item color="none" id="blackBeanBurrito-list-item56">
      28 ounces black beans, drained
    </ion-item>
    <ion-item color="none" id="blackBeanBurrito-list-item57">
      1 teaspoon ground cumin
    </ion-item>
  </ion-list>
  <h5 id="blackBeanBurrito-heading11" style="color:#000000;font-weight:600;font-style:italic;">
    Directions
  </h5>
  <div id="blackBeanBurrito-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      In a nonstick skillet over medium-high heat, add olive oil, jalapeno, garlic and onion; Sauté for 2 or 3 minutes. Add beans and stir in seasonings and cayenne pepper sauce. Reduce heat to low and simmer for 10-15 minutes.
    </p>
  </div>
  <button id="blackBeanBurrito-button26" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToLunch()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>