<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Most Recent Head MRI
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page23">
  <img src="assets/img/VRSVneCgS0iKfLAP5vtn_brain-scan-MRI-500x282.png" style="display:block;width:100%;height:200%;" />
  <div class="spacer" style="height:5;" id="mostRecentHeadMRI-spacer13"></div>
  <img src="assets/img/sHwB42XrSsUe4gwOXZrq_MRI_BRAIN_SCAN.jpg" style="display:block;width:100%;height:auto;" />
  <button id="mostRecentHeadMRI-button39" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToScans()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>