<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Most Recent Lungs Xray
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page25">
  <img src="assets/img/NmNQrd7BS8iaKkBS7zbn_1200px-Aire_subdiafragmtico.JPG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="height:190;" id="mostRecentLungsXray-spacer15"></div>
  <button id="mostRecentLungsXray-button41" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToScans()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>