<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page27">
  <img src="assets/img/f00CwEEMRPqS5uCLfYn3_sd.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <img src="assets/img/Eg2KZYbFRvarktuWG3nW_Capture.PNGd.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <img src="assets/img/iWNT7nrITCU1jjQF3MHz_Capture.PNGd.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <img src="assets/img/GmhaQh9Syib0hoGRx9y0_Capture.PNGd.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <button id="page27-button42" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToNews()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>