<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page28">
  <img src="assets/img/KmmCVVX0Ti2ESIuxHX9O_PPsizephoto.jpg" style="display:block;width:40%;height:25%;margin-left:auto;margin-right:auto;" />
  <h4 id="profile-heading16" style="color:#000000;font-style:italic;text-align:center;">
    Afsah Habeeb
  </h4>
  <h5 id="profile-heading17" style="color:#000000;text-align:center;">
    31st May 1994
  </h5>
  <h5 id="profile-heading18" style="color:#000000;font-weight:600;font-style:italic;">
    Basic Info
  </h5>
  <ion-list id="profile-list19">
    <ion-item color="none" id="profile-list-item106">
      7425016
    </ion-item>
    <ion-item color="none" id="profile-list-item107">
      B+ Blood Group
    </ion-item>
  </ion-list>
  <ion-list id="profile-list24">
    <ion-item color="none" id="profile-list-item108">
      24 Years Old
    </ion-item>
    <ion-item color="none" id="profile-list-item109">
      Married
    </ion-item>
    <ion-item color="none" id="profile-list-item110">
      Male
    </ion-item>
  </ion-list>
  <h5 id="profile-heading19" style="color:#000000;font-weight:600;font-style:italic;">
    Emergency Contact
  </h5>
  <ion-list id="profile-list29">
    <ion-item color="none" id="profile-list-item117">
      Aminath Safwath
    </ion-item>
    <ion-item color="none" id="profile-list-item118">
      7896543
    </ion-item>
    <ion-item-sliding>
      <ion-item color="dark" id="profile-list-item119">
        Wife
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="dark"></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button id="profile-button15" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToMainMenu()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>