<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Spinach Pici Pasta
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page18">
  <img src="assets/img/0KIbtGJrTaW13k5rgHlh_7s5f0uUOa8lBK3MzNA1Qjn.jpg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <h5 id="spinachPiciPasta-heading12" style="color:#000000;font-weight:600;font-style:italic;">
    Ingredients
  </h5>
  <ion-list id="spinachPiciPasta-list20">
    <ion-item color="none" id="spinachPiciPasta-list-item69">
      4 cloves of garlic
    </ion-item>
    <ion-item color="none" id="spinachPiciPasta-list-item70">
      50g pine nuts
    </ion-item>
    <ion-item color="none" id="spinachPiciPasta-list-item71">
      200g baby courgettes
    </ion-item>
  </ion-list>
  <ion-list id="spinachPiciPasta-list21">
    <ion-item color="none" id="spinachPiciPasta-list-item72">
      ½ a bunch of fresh basil , (15g)
    </ion-item>
    <ion-item color="none" id="spinachPiciPasta-list-item73">
      extra virgin olive oil
    </ion-item>
    <ion-item color="none" id="spinachPiciPasta-list-item74">
      300g Tipo 00 or plain flour
    </ion-item>
  </ion-list>
  <h5 id="spinachPiciPasta-heading13" style="color:#000000;font-weight:600;font-style:italic;">
    Directions
  </h5>
  <div id="spinachPiciPasta-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      In a food processor, blitz the spinach and flour until a ball of dough forms, letting the machine do all the work. Touch the dough – it shouldn’t be sticky, you want a playdough consistency, so add a little more flour, if needed. To make the pici, simply
      tear off 2cm balls of dough and roll them out into long thin sausage shapes – think fine green beans – on a clean surface (the beauty is that they’re all different, so get little helpers involved, if you can). Cook the pici straight away, or leave
      them to dry out for a few hours, or even overnight. Put a large pan of salted water on to boil. Put a large frying pan on a medium heat with 2 tablespoons of olive oil. Peel, finely slice and add the garlic, along with the chilli flakes.
    </p>
  </div>
  <button id="spinachPiciPasta-button28" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToDinner()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>