<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Doctors Appointments
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left>
        <ion-icon name="add"></ion-icon>
        Add
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <ion-list id="doctorsAppointments-list7">
    <ion-item-sliding>
      <ion-item color="none" id="doctorsAppointments-list-item29">
        <ion-avatar item-left>
          <img src="assets/img/hILWMYHURYyrRSgElc3S_508387030.jpg" />
        </ion-avatar>
        <h2>
          Dr Elizabeth Moss
        </h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="light"></button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item color="none" id="doctorsAppointments-list-item30">
      <ion-avatar item-left>
        <img src="assets/img/LkOAWVemRfKa0llMDRCg_611776510.jpg" />
      </ion-avatar>
      <h2>
        Dr Ross Gallher
      </h2>
    </ion-item>
    <ion-item color="none" id="doctorsAppointments-list-item31">
      <ion-avatar item-left>
        <img src="assets/img/2NCY8RqLQSqyzkLB7soC_511583494.jpg" />
      </ion-avatar>
      <h2>
        Dr Jhon Doe
      </h2>
    </ion-item>
    <ion-item color="none" id="doctorsAppointments-list-item32">
      <ion-avatar item-left>
        <img src="assets/img/tgdwWcxiQ7OnzztRT083_IMG_5388_pp-200x300.jpg" />
      </ion-avatar>
      <h2>
        Dr Rose Mary
      </h2>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:130px;" id="doctorsAppointments-spacer4"></div>
  <button id="doctorsAppointments-button18" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToReminders()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>