<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Banofee Stuffed Pan Cake
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page12">
  <img src="assets/img/ozwLTh6PRrqqfG8Bsj8F_49fb4e5c0f3b9c7e849e13f7d2c667bf.jpg" style="display:block;width:75%;height:auto;margin-left:auto;margin-right:auto;" />
  <h5 id="banofeeStuffedPanCake-heading4" style="color:#000000;font-weight:600;font-style:italic;">
    Ingredients
  </h5>
  <div id="banofeeStuffedPanCake-markdown3" class="show-list-numbers-and-dots"></div>
  <ion-list id="banofeeStuffedPanCake-list10">
    <ion-item color="none" id="banofeeStuffedPanCake-list-item11">
      2 cups flour
    </ion-item>
    <ion-item color="none" id="banofeeStuffedPanCake-list-item12">
      1 teaspoon baking soda
    </ion-item>
    <ion-item color="none" id="banofeeStuffedPanCake-list-item13">
      4 eggs, well beaten
    </ion-item>
    <ion-item color="none" id="banofeeStuffedPanCake-list-item15">
      3 sliced bananas
    </ion-item>
  </ion-list>
  <ion-list id="banofeeStuffedPanCake-list11">
    <ion-item color="none" id="banofeeStuffedPanCake-list-item14">
      1/4 cup melted butter
    </ion-item>
    <ion-item color="none" id="banofeeStuffedPanCake-list-item16">
      1/2 cup water
    </ion-item>
  </ion-list>
  <h5 id="banofeeStuffedPanCake-heading5" style="color:#000000;font-weight:600;font-style:italic;">
    Directions
  </h5>
  <div id="banofeeStuffedPanCake-markdown4" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      For the pancakes: Sift together the flour, baking powder, baking soda, and 1/2 teaspoon salt. In a separate bowl, beat the eggs slightly and add the buttermilk, milk, and melted butter. Add the wet ingredients to the dry ingredients and mix well, let
      sit for 20 minutes.
    </p>
    <p style="color:#000000;">
      Heat a lightly oiled griddle or frying pan over medium-high heat. Pour or scoop the batter onto the griddle, using approximately 1/4 cup for each pancake. When bubbles appear place about 4 banana slices on top of pancake, then cover the bananas with about
      2 to 4 tablespoons pancake
    </p>
  </div>
  <button id="banofeeStuffedPanCake-button11" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToBreakfast()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>