<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Fruity Oat Cake
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page13">
  <img src="assets/img/Zzd0hT0zQNStOU5rb5H2_images3.jpg" style="display:block;width:75%;height:auto;margin-left:auto;margin-right:auto;" />
  <h5 id="fruityOatCake-heading6" style="color:#000000;font-weight:600;font-style:italic;">
    Ingredients
  </h5>
  <ion-list id="fruityOatCake-list9">
    <ion-item color="none" id="fruityOatCake-list-item10">
      1 cup cooked steel-cut oats
    </ion-item>
    <ion-item color="none" id="fruityOatCake-list-item17">
      1 egg
    </ion-item>
    <ion-item color="none" id="fruityOatCake-list-item18">
      1/4 teaspoon salt
    </ion-item>
    <ion-list id="fruityOatCake-list12">
      <ion-item color="none" id="fruityOatCake-list-item19">
        1/4 cup chopped pecans walnuts or almonds
      </ion-item>
      <ion-item color="none" id="fruityOatCake-list-item26">
        3/4 stick of softened butter
      </ion-item>
      <ion-item color="none" id="fruityOatCake-list-item27">
        1/2 cup sugar
      </ion-item>
    </ion-list>
  </ion-list>
  <h5 id="fruityOatCake-heading7" style="color:#000000;font-weight:600;font-style:italic;">
    Directions
  </h5>
  <div id="fruityOatCake-markdown5" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Preheat oven to 350 degree. Combine butter, sugar and egg and mix until combined. I use an electric mixer, but you can do this by hand. Add in the cooked oats, being sure to fully incorporate it into the mix. Mix the flour, baking soda and salt in a separate
      bowl and then add to the oat and butter mixture. Add in fruit and nuts and mix until just incorporated (but not too much or the batter will become rubbery). Spread the batter into a greased 8 x 8 pan. Bake for 20 minutes or until an inserted toothpick
      comes out clean. Cool and serve.
    </p>
  </div>
  <button id="fruityOatCake-button16" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToBreakfast()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>