<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Lunch
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page14">
  <ion-list id="lunch-list13">
    <ion-item color="none" on-click="goToChickpeaPita()" id="lunch-list-item28">
      <ion-avatar item-left>
        <img src="assets/img/f9cMCxxTSmWN7qpZVeuL_baked-chickpeas-with-pita-chips-and-yogurt1.jpg" />
      </ion-avatar>
      <h2>
        Chickpea Pita
      </h2>
    </ion-item>
    <ion-item color="none" on-click="goToBlackBeanBurrito()" id="lunch-list-item33">
      <ion-avatar item-left>
        <img src="assets/img/qGS4O1uKQKWhATg8pq4R_chipotle-black-bean-burritos.jpg" />
      </ion-avatar>
      <h2>
        Black Bean Burrito
      </h2>
    </ion-item>
    <ion-item color="none" id="lunch-list-item38">
      <ion-avatar item-left>
        <img src="assets/img/2w8IwMFuTSi9WvZouqnx_healthy-lunch-ideas-for-work-guac-mango-salad.jpg" />
      </ion-avatar>
      <h2>
        Chicken Pita With Cranberries and Pear
      </h2>
    </ion-item>
    <ion-item color="none" id="lunch-list-item39">
      <ion-avatar item-left>
        <img src="assets/img/Mgxw6O0TQBdRyuOj1sJU_RFO-HarissaBowl-SPRING-1400x919px-mini-cfdef52e-f918-43e0-9c89-55840a82796c-0-1400x919.jpg" />
      </ion-avatar>
      <h2>
        Caesar Salmon
      </h2>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:145px;" id="lunch-spacer8"></div>
  <button id="lunch-button24" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToHealthyMenus()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>