<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Scans
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page22">
  <ion-list id="scans-list27">
    <ion-item color="none" on-click="goToMostRecentHeadMRI()" id="scans-list-item97">
      Most Recent Head MRI
    </ion-item>
    <ion-item color="none" on-click="goToMostRecentHandMRI()" id="scans-list-item98">
      Most Recent Hand MRI
    </ion-item>
    <ion-item color="none" on-click="goToMostRecentLungsXray()" id="scans-list-item99">
      Most Recent Lungs Xray
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:270;" id="scans-spacer12"></div>
  <button id="scans-button38" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToHistory()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>