<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page20">
  <button id="history-button30" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToAllergies()">
    Allergies
  </button>
  <button id="history-button31" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToScans()">
    Scans
  </button>
  <button id="history-button33" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToMostRecentLungsXray()">
    X-rays
  </button>
  <button id="history-button32" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;">
    Reports
  </button>
  <div class="spacer" style="height:200px;" id="history-spacer10"></div>
  <button id="history-button34" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToMainMenu()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>