<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Chinese Steak Stew
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page19">
  <img src="assets/img/XZlk6keHT92vUWUJroii_AyDwc-brK5H9GJRwlKEzLl.jpg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <h5 id="chineseSteakStew-heading14" style="color:#000000;font-weight:600;font-style:italic;">
    Ingredients
  </h5>
  <ion-list id="chineseSteakStew-list22">
    <ion-item color="none" id="chineseSteakStew-list-item78">
      250g rump or sirloin steak
    </ion-item>
    <ion-item color="none" id="chineseSteakStew-list-item79">
      2 cloves of garlic
    </ion-item>
    <ion-item color="none" id="chineseSteakStew-list-item80">
      4cm piece of ginger
    </ion-item>
  </ion-list>
  <ion-list id="chineseSteakStew-list23">
    <ion-item color="none" id="chineseSteakStew-list-item81">
      2 fresh red chilli
    </ion-item>
    <ion-item color="none" id="chineseSteakStew-list-item82">
      1 bunch of spring onions
    </ion-item>
    <ion-item color="none" id="chineseSteakStew-list-item83">
      2 large carrots
    </ion-item>
  </ion-list>
  <h5 id="chineseSteakStew-heading15" style="color:#000000;font-weight:600;font-style:italic;">
    Directions
  </h5>
  <div id="chineseSteakStew-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Get your prep done first, for smooth cooking. Chop the steak into 1cm chunks, trimming away and discarding any fat. Peel and finely chop the garlic and ginger and slice the chilli. Trim the spring onions, finely slice the top green halves and put aside,
      then chop the whites into 2cm chunks. Peel the carrots and mooli or radishes, and chop to a similar size. Place a large pan on a medium-high heat and toast the Szechuan peppercorns while it heats up. Tip into a pestle and mortar, leaving the pan
      on the heat. Place the chopped steak in the pan with 1 tablespoon of groundnut oil. Stir until starting to brown, then add the garlic, ginger, chilli, the white spring onions, carrots and mooli or radishes. Cook for 5 minutes, stirring regularly,
      then stir in the chilli bean paste for 30 seconds until dark. Pour in the stock and simmer for 10 minutes.
    </p>
  </div>
  <button id="chineseSteakStew-button29" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToDinner()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>