<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <button id="menu-button1" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;">
      My Profile
    </button>
    <button id="menu-button2" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" menuClose="" on-click="goToWelcome()">
      Dashboard
    </button>
    <button id="menu-button3" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" menuClose="" on-click="goToReminders()">
      Reminders
    </button>
    <button id="menu-button4" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" menuClose="" on-click="goToHealthyMenus()">
      Healthy Menus
    </button>
    <button id="menu-button5" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" menuClose="" on-click="goToHistory()">
      History
    </button>
    <button id="menu-button6" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" menuClose="" on-click="goToNews()">
      News
    </button>
    <button id="menu-button7" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;">
      Support
    </button>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>