<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      News
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page26">
  <img src="assets/img/ljgxjcZsQA6B38Z44IMr_Capture.PNG" style="display:block;width:100%;height:auto;" />
  <div class="spacer" style="height:50;" id="news-spacer16"></div>
  <div style="margin-left:-10px;width:calc(100% + 20px);">
    <a style="display:block;" on-click="goToPage27()">
      <img src="assets/img/0J73oSHBRieaWRdkAaRS_Capture.PNGd.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </a>
  </div>
  <div style="margin-left:-10px;width:calc(100% + 20px);">
    <a style="display:block;" on-click="goToProfile()">
      <img src="assets/img/6zfs371T0miADOxHW0Sw_s.PNG" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    </a>
  </div>
  <div class="spacer" style="height:15;" id="news-spacer17"></div>
  <button id="news-button43" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToMainMenu()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>