<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dinner
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page17">
  <ion-list id="dinner-list18">
    <ion-item color="none" on-click="goToSpinachPiciPasta()" id="dinner-list-item59">
      <ion-avatar item-left>
        <img src="assets/img/GKpA4ryyT0afEdVnSEa3_7s5f0uUOa8lBK3MzNA1Qjn.jpg" />
      </ion-avatar>
      <h2>
        Spinach pici pasta
      </h2>
    </ion-item>
    <ion-item color="none" on-click="goToChineseSteakStew()" id="dinner-list-item60">
      <ion-avatar item-left>
        <img src="assets/img/0tABLBlnSUqkQ4BkuVWI_AyDwc-brK5H9GJRwlKEzLl.jpg" />
      </ion-avatar>
      <h2>
        Chinese steak & tofu stew
      </h2>
    </ion-item>
    <ion-item color="none" id="dinner-list-item61">
      <ion-avatar item-left>
        <img src="assets/img/CeUXtJeTQymOFSYkGxp5_4wrJVghxqe6Btx9B3oBolb.jpg" />
      </ion-avatar>
      <h2>
        Sesame butterflied chicken
      </h2>
    </ion-item>
    <ion-item color="none" id="dinner-list-item58">
      <ion-avatar item-left>
        <img src="assets/img/QVMwSjTZS1mz4wggXREY_fish-fingers-625_625x350_71474443801.jpg" />
      </ion-avatar>
      <h2>
        Jumbo fish fingers
      </h2>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:146px;" id="dinner-spacer9"></div>
  <button id="dinner-button27" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToHealthyMenus()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>