<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <img src="assets/img/20kBUJiTqK2gNJ6WDJVz_PPsizephoto.jpg" style="display:block;width:60%;height:;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="height:15px;" id="welcome-spacer1"></div>
  <h4 id="welcome-heading1" style="color:#000000;text-align:center;">
    Afsah Habeeb
  </h4>
  <div id="welcome-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Hello. This is my profile where you can know about my life with Cystic Fibrosis.
    </p>
  </div>
  <h5 id="welcome-heading2" style="color:#000000;">
    Today
  </h5>
  <ion-list id="welcome-list1">
    <ion-item color="none" id="welcome-list-item4">
      Appointment With Dr Dan
    </ion-item>
    <ion-item color="none" on-click="goToCameraTabDefaultPage()" id="welcome-list-item5">
      Take Medication at 10.30pm
    </ion-item>
    <ion-item color="none" id="welcome-list-item6">
      360 Calories Burned
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:5px;" id="welcome-spacer2"></div>
  <h5 id="welcome-heading3" style="color:#000000;">
    Articles
  </h5>
  <button id="welcome-button8" ion-button color="dark" block style="text-align:left;border-radius:50px 50px 50px 50px;" href-inappbrowser="https://www.mayoclinic.org/diseases-conditions/cystic-fibrosis/symptoms-causes/syc-20353700">
    What is Cystic Fibrosis ?
  </button>
  <button id="welcome-button21" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToMainMenu()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>