<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Most Recent Hand MRI
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page24">
  <img src="assets/img/2RAClPcDSz2d5Uw5df9a_images4.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="height:165px;" id="mostRecentHandMRI-spacer14"></div>
  <button id="mostRecentHandMRI-button40" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToScans()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>