<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Main Menu
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page29">
  <button id="mainMenu-button47" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToProfile()">
    My Profile
  </button>
  <button id="mainMenu-button48" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToWelcome()">
    Dashboard
  </button>
  <button id="mainMenu-button49" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToReminders()">
    Reminders
  </button>
  <button id="mainMenu-button50" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToHealthyMenus()">
    Healthy Menus
  </button>
  <button id="mainMenu-button51" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToHistory()">
    History
  </button>
  <button id="mainMenu-button52" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;" on-click="goToNews()">
    News
  </button>
  <button id="mainMenu-button53" ion-button color="dark" block style="border-radius:50px 50px 50px 50px;">
    Support
  </button>
</ion-content>