<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Chickpea Pita
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page15">
  <img src="assets/img/kWTaDq7uSAC6rnKSo3K8_baked-chickpeas-with-pita-chips-and-yogurt1.jpg" style="display:block;width:75%;height:auto;margin-left:auto;margin-right:auto;" />
  <h5 id="chickpeaPita-heading8" style="color:#000000;font-weight:600;font-style:italic;">
    Ingredients
  </h5>
  <ion-list id="chickpeaPita-list14">
    <ion-item color="none" id="chickpeaPita-list-item43">
      1 15 oz can chickpeas
    </ion-item>
    <ion-item color="none" id="chickpeaPita-list-item44">
      1 tsp ground black pepper 3 g
    </ion-item>
    <ion-item color="none" id="chickpeaPita-list-item45">
      1/4 tsp salt 1.5 g
    </ion-item>
  </ion-list>
  <ion-list id="chickpeaPita-list15">
    <ion-item color="none" id="chickpeaPita-list-item46">
      4 pita flatbreads
    </ion-item>
    <ion-item color="none" id="chickpeaPita-list-item47">
      1/4 red onion
    </ion-item>
    <ion-item color="none" id="chickpeaPita-list-item48">
      1 tomato sliced
    </ion-item>
  </ion-list>
  <h5 id="chickpeaPita-heading9" style="color:#000000;font-weight:600;font-style:italic;">
    Directions
  </h5>
  <div id="chickpeaPita-markdown6" style="text-align:justify;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Preheat oven to 400 degrees F (204 C). Pat dry chickpeas with paper towel, removing any skins that may come off. Gently toss chickpeas with oil, paprika, black pepper, cayenne pepper, and salt. Spread chickpeas onto a greased rimmed baking sheet and roast
      for about 20 minutes, until lightly browned but not hard. Spread some tzatziki onto one side of the pita, then sprinkle in ¼ of the chickpeas and add veggies. Fold in half and enjoy!
    </p>
  </div>
  <button id="chickpeaPita-button25" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToLunch()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>