<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Allergies
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page21">
  <ion-list id="allergies-list25">
    <ion-item color="none" id="allergies-list-item88">
      Dust
    </ion-item>
    <ion-item color="dark" id="allergies-list-item89">
      Cat Dander
    </ion-item>
    <ion-item color="dark" id="allergies-list-item90">
      Penicillin
    </ion-item>
  </ion-list>
  <ion-list id="allergies-list26">
    <ion-item color="none" id="allergies-list-item91">
      Eggs
    </ion-item>
    <ion-item color="none" id="allergies-list-item92">
      Walnuts
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:160px;" id="allergies-spacer11"></div>
  <button id="allergies-button35" ion-button color="dark" block icon-left style="text-align:left;border-radius:50px 50px 50px 50px;" on-click="goToHistory()">
    <ion-icon name="arrow-dropleft"></ion-icon>
    Back
  </button>
</ion-content>